{% extends "base.html" %}

{% block header_content %}
  | <a href="#postform">Новый пост</a> | Страница: {% include "partials/pagination.html" %}{% if has_archive %}, <a href="/archive">Архив</a>{% endif %}
{% endblock %}

{% block body %}
  {% include "partials/post_form.html" %}
  <div class="index-page">
    <a id="mod"></a>
    <form method="post" action="/mod">
      {% include "partials/mod_form.html" %}
      {% for container in threads %}
        {% include "partials/thread_container.html" %}
        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}
    </form>
  </div>
{% endblock %}
